
.filterFormContainer {
    margin:50px;
    height:500px;
    padding:30px;
    background-color: rgb(128, 205, 228);
    
    .filterForm {
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        select {
           
            margin:10px;
            width:200px;
        }
        
    }

    @media screen and (max-width:439px){
        height:700px;
    }
}