.footer-v1 {
    height:auto ;
    color:white;
    background-color: rgb(0, 64, 104);
    .topPart{
        a {
            color:white;
             
        }
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        

        border-bottom: 1px solid rgb(53, 94, 172);
    }

    .lowerPart{
        background-color: rgb(0, 64, 104);
        display:flex;
        padding-left: 10%;
        padding-bottom: 20px;
        padding-top: 30px;
        a {
            color:white;
            text-decoration: none;  
            margin-left:30px;
        }
       
        
    }
    .footer-col1 {
        margin-left:10%;
       
        margin-top:10%;
        height:300px;
        display:flex;
        flex-direction: column;
    }
    .footer-col2 {
        margin-top:10%;
        
        height:300px;
        display:flex;
        flex-direction: column;
    }
    .footer-col3 {
        margin-top:10%;
        
        height:300px;
        display:flex;
        flex-direction: column;
    }
    .footer-col4 {
        margin-top:10%;
        margin-right:10%;
        height: 500px;
        display:flex;   
        flex-direction: column;
    }

    @media screen and (max-width:700px) {
    // flex-direction: column;
    // height:auto;
    
    // .footer-col1  {
    //     margin:10px;
    // }
    // .footer-col2  {
    //     margin:10px;
    // }
    // .footer-col3  {
    //     margin:10px;
    // }
    }
}