.hero-landing {
    height:500px;
    background-color:rgb(189, 238, 189);
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    padding:10%;
    .hero-h2{
        max-width:40%;
        z-index: 3;
        padding:10px;
    }
    .hero-p {
        max-width:40%;
        z-index: 3;
    }
    
    .hero-img{
        position:absolute;
       height:50%;
      
        right:0;
        
    }
}

.hero-jobs {
    height:500px;
    background-color:rgb(189, 238, 189);
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    padding:10%;
    .hero-cont{
        display:flex;
        flex-direction:column;
        justify-content: center;
        
    }
    .hero-h2{
        max-width:60%;
        z-index: 3;
        padding:10px;
    }
    .hero-p {
        max-width:60%;
        z-index: 3;
    }
    
    .hero-img{
        position:absolute;
       height:50%;
      
        right:0;
        
    }
}