.specificJob-v1 {

    margin:100px;
    .InfoContainer-specificJob-v1 {
        min-height: 100vh;

        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom:50px;
        padding:50px;
        border:1px solid grey;
    }
   
    
}