.Nav-v1 {
  height: 75px;
  background-color: lightcoral;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 30px;
}

.Nav-v1 .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px;
}

.h1-1-vw {
  height: 10vw;
}

.h1-2-vw {
  height: 20vw;
}

.h1-3-vw {
  height: 30vw;
}

.h1-4-vw {
  height: 40vw;
}

.h1-5-vw {
  height: 50vw;
}

.h1-6-vw {
  height: 60vw;
}

.h1-7-vw {
  height: 70vw;
}

.h1-8-vw {
  height: 80vw;
}

.h1-9-vw {
  height: 90vw;
}

.h1-10-vw {
  height: 100vw;
}

.blue {
  color: blue;
  background-color: blue;
}

.footer-v1 {
  height: 350px;
  background-color: lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10%;
}

.footer-v1 .footer-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-v1 .footer-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-v1 .footer-col3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-landing {
  height: 500px;
  background-color: #bdeebd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10%;
}

.hero-landing .hero-h2 {
  max-width: 40%;
  z-index: 3;
  padding: 10px;
}

.hero-landing .hero-p {
  max-width: 40%;
  z-index: 3;
}

.hero-landing .hero-img {
  position: absolute;
  height: 50%;
  right: 0;
}

.hero-jobs {
  height: 500px;
  background-color: #bdeebd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10%;
}

.hero-jobs .hero-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-jobs .hero-h2 {
  max-width: 60%;
  z-index: 3;
  padding: 10px;
}

.hero-jobs .hero-p {
  max-width: 60%;
  z-index: 3;
}

.hero-jobs .hero-img {
  position: absolute;
  height: 50%;
  right: 0;
}

.filterFormContainer {
  margin: 50px;
  height: 400px;
  padding: 30px;
  background-color: #f7d579;
}

.filterFormContainer .filterForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filterFormContainer .filterForm select {
  margin: 10px;
  width: 200px;
}

.filterFormContainer .filterForm button {
  width: 100px;
  border-radius: 25px;
}

.job-card-container-v1 {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px;
  padding: 10px;
  border: 1px solid grey;
}

.specificJob-v1 {
  margin: 100px;
}

.specificJob-v1 .InfoContainer-specificJob-v1 {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  padding: 50px;
  border: 1px solid grey;
}

.paginationContainer {
  margin: 20px;
}

.paginationContainer button {
  width: 30px;
  height: 30px;
  margin: 10px;
  border: none;
  background: none;
}

.paginationContainer button img {
  height: 20px;
  width: 20px;
}
/*# sourceMappingURL=main.css.map */