.Nav-v1 {
  height: 75px;
  background-color: #d5a7a7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Nav-v1 a {
  text-decoration: none;
}

.Nav-v1 .active {
  text-decoration: underline;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

.bg-shade {
  background-color: #f1f0f0;
}

.footer-v1 {
  height: 350px;
  background-color: lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10%;
}

.footer-v1 .footer-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-v1 .footer-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-v1 .footer-col3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-landing {
  height: 500px;
  background-color: #bdeebd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10%;
}

.hero-landing .hero-h2 {
  max-width: 40%;
  z-index: 3;
  padding: 10px;
}

.hero-landing .hero-p {
  max-width: 40%;
  z-index: 3;
}

.hero-landing .hero-img {
  position: absolute;
  height: 50%;
  right: 0;
}

.hero-jobs {
  height: 500px;
  background-color: #bdeebd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10%;
}

.hero-jobs .hero-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-jobs .hero-h2 {
  max-width: 60%;
  z-index: 3;
  padding: 10px;
}

.hero-jobs .hero-p {
  max-width: 60%;
  z-index: 3;
}

.hero-jobs .hero-img {
  position: absolute;
  height: 50%;
  right: 0;
}

.filterFormContainer {
  margin: 50px;
  height: 400px;
  padding: 30px;
  background-color: #f7d579;
}

.filterFormContainer .filterForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filterFormContainer .filterForm select {
  margin: 10px;
  width: 200px;
}

.filterFormContainer .filterForm button {
  width: 100px;
  border-radius: 25px;
}

.job-card-container-v1 {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px;
  padding: 10px;
  border: 1px solid grey;
}

.specificJob-v1 {
  margin: 100px;
}

.specificJob-v1 .InfoContainer-specificJob-v1 {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  padding: 50px;
  border: 1px solid grey;
}

.paginationContainer {
  margin: 20px;
}

.paginationContainer button {
  width: 30px;
  height: 30px;
  margin: 10px;
  border: none;
  background: none;
}

.paginationContainer button img {
  height: 20px;
  width: 20px;
}

.pwicon {
  margin-left: -30px;
  margin-bottom: 35px;
}
/*# sourceMappingURL=main.css.map */